hostname "La Masturbanda"
# 0 = internet (lista Steam, conexión directa); 1 = solo LAN
sv_lan 0

sv_password ""
rcon_password "Pozos954!"

log on
sv_maxrate 25000
sv_minrate 8000
sv_maxupdaterate 101
sv_minupdaterate 30

mp_autoteambalance 1
mp_limitteams 1
mp_timelimit 30
mp_roundtime 2
mp_freezetime 0
mp_startmoney 800
mp_friendlyfire 0

# maxplayers se fija al arrancar (ENV en Docker); no se puede cambiar en server.cfg
sv_region 255
